extends layout

block content
  h1= State
  p.report-title GoNogo Session Stats
  a(style="padding: 0 0 30px 0; display: block;" href='/users/details')
    | Details

  table
    tr(style="text-align: left;")
      th(style="width: 120px;") Name
      th(style="width: 100px;") Version
      th(style="width: 100px;") Sessions
      th(style="width: 400px;") Last
    each user in params
      //- each stat, i in user.stats
      tr.report-row
        td.report-text #{user.name}
        td.report-text #{user.version}
        td.report-text #{user.stats.length}
        td.report-text
          - if (user.stats.length>0)
            | [#{moment(user.stats[user.stats.length-1]).format('jMM/jDD')}]
            | -
            span(style="color: grey; padding-left: 7px;")
              | #{moment(user.stats[user.stats.length-1]).fromNow()}



