extends layout

mixin row(name, stat, j)
  td.report-text #{j==0 ? name : ''}
  td.report-text #{stat.game}
  td.report-text(style="color: green;") #{stat.success}
  td.report-text(style="color: darkred;") #{stat.omission}
  td.report-text(style="color: darkred;") #{stat.comission}
  td.report-text #{stat.response}


block content
  h1= State
  p.report-title GoNogo Stats

  table
    tr(style="text-align: left;")
      th(style="width: 120px;") Name
      th(style="width: 100px;") Game
      th(style="width: 100px;") Success
      th(style="width: 100px;") Omission
      th(style="width: 100px;") Comission
      th(style="width: 120px;") Response (ms)
    each user in params
      each stats in user.stats
        each stat, j in stats
          if j%3==0
            tr.report-row
              +row(user.name, stat, j)
          else
            tr.report-row-secondary
              +row(user.name, stat, j)
