body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

.report-title {
  font-size: 21pt;
  padding-bottom: 15px;
  font-weight: bold;
}

.report-text {
  font-size: 14pt;
}

.report-row {
  height: 50px;
  border-width: 1px 0px 0px 0px;
  border-color: lightgrey;
  border-style: solid;
}

.report-row-secondary {
  height: 50px;
}
